<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398120286037-khr5vdc30u6p8lbluu7rpr8280tokmdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398120286037-khr5vdc30u6p8lbluu7rpr8280tokmdh</string>
	<key>API_KEY</key>
	<string>AIzaSyC1yB9VXtGAy1l-Y1hTNpi1elqFGfXVNFo</string>
	<key>GCM_SENDER_ID</key>
	<string>398120286037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-6443e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-6443e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398120286037:ios:5cba210570332ed79f61dc</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-6443e-default-rtdb.firebaseio.com</string>
</dict>
</plist>